* {
	margin: 0;
	padding: 0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

html{
  scroll-behavior:smooth;
  font-family:'Poppins', sans-serif;
}

body{
  background-size:contain;
  font-family:'Poppins', sans-serif;
  height:100%;
  position:relative;
  background-color:#0c0c0c;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding-right:;
  background-color:#000000;
  color:#ffffff;
  align-items:center;
  top:0;
  padding:10px 2%;
  position:fixed;
  z-index:9;
  width:100%;
  border-bottom: 0.6px solid #212121;
}

.navbar img{
  width: 60px;
  padding-left: 15px;
}

.navbar h1{
  margin:;
  padding-bottom: 0;
  padding-top: 0;
  font-weight:bold;
  color: #ffffff;
  font-family:'Poppins', sans-serif;
}

.logo{
  padding-left:5px;
  left:20px;
  padding-top:0px;
  padding-bottom: 0px;
  background-color:;
  margin-left:0;
  margin-bottom: 0;
  margin-top: 0;
  color:#ffffff;
  max-width:200px;
}

a{
  text-decoration:none;
}

button a{
  color:#202020;
  font-weight: 450;
}
.elements li a{
  color:white;
}

.elements {
	display: flex;
  gap:18px;
	list-style: none;
	/*padding-top:8px;
	padding-bottom: 10px;*/
  padding-right:20px;
	font-size: 20px;
  font-width:bold;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rows {
	cursor: pointer;
  position:;
}

.span {
	width: 30px;
	height: 4px;
	background-color:#ffffff;
	margin-bottom: 5px;
	border-radius: 2px;
	transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.burgerDiv {
	display:none;
  position:fixed;
  flex-direction:column;
  background-color: ;
}

section {
  height:;
  width:;
}

.hero{
  padding:0px 0px;
}

.hero-main {
  padding:15px 14px 25px 14px;
  background-color:#202020;
   /*background-image: linear-gradient(to bottom right, #212121, #191919);*/
  margin:70px 20px 0px 20px;
  padding-right:;
  padding-left:;
  padding-bottom:;
  border-radius: 7px;
}
.main-top, .main-bottom {
  max-width: 1000px;
  margin:0 auto;
  background-color:;
}

.main-top{
  display:flex;
  flex-direction: ;
  padding:;
  width:;
  background-color:;
}
.main-top .text{
  width: 70%;
  background-color:;
}
.main-top .text h2{
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 17px;
  color: #ffffff;
}
.main-top .pic{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:;
}
.main-top h2{
  
}
.main-top .text h3{
  font-size: 12px;
  font-weight: 450;
  color:#aaaaaa;
}
.main-top .text p{
  font-size: 12px;
  color: #aaaaaa;
  padding-top: 6px;
}

.main-top .pic img{
 min-width:50px;
}

.main-bottom{
  background-color:;
}
.main-bottom .ico{
  margin-top: 25px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.main-bottom .ico span{
  background-color: #202020;
  padding:9px;
  width: 45px;
  height:45px;
  display:grid;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  border:3px solid #aaaaaa;
}
.main-bottom .ico span i{
  color: #aaaaaa;
  background-color: ;
  padding-top: 2px;
}

.main-bottom .btn{
  margin-top:22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-bottom .btn a{
  width: 100%;
}
.main-bottom .btn a button{
  background-color:#ff6500;
  border: none;
  border-radius: 8px;
  padding:10px 0 10px 0;
  width: 100%;
  font-size: 17px;
}

.hero-2{
  margin:20px 20px 0px 20px;
  background-color:;
  border-radius: 7px;
}
.hero-2 .ojr{
  background-color:#202020;
  padding: 20px 5px 10px 5px;
  color: #ffffff;
  border-radius: 7px;
}

.hero-2 .ojr span{
  background-color:;
  padding: 0 14px 0 14px;
  color: #ffffff;
}
.hero-2 .Overview{
  margin-top: 15px;
  background-color: #202020;
border-radius: 7px;
}
.hero-2 .Overview .text{
  padding: 0 15px 0 15px;
}

.hero-2 .Overview .text p{
  font-size: 12px;
  color: #aaaaaa;
}
.hero-2 .Overview .text .t_1{
  padding: 20px 0px 20px 0px;
}
.hero-2 .Overview .text .t_2{
  padding: 20px 0px 20px 0px;
  border-top: 1px solid grey;
}

.t_2 h4{
  color:#ffffff;
}
.t_2 h5{
  color:#ffffff;
  padding-top: 3px;
  font-weight: 420;
  padding-bottom: 8px;
}

.hero-2 .Overview .text .t_3{
  padding: 20px 0px 20px 0px;
  border-top: 1px solid grey;
}
.t_3 h4{
  color:#ffffff;
}
.t_3 h5{
  color:#ffffff;
  padding-top: 3px;
  font-weight: 420;
  padding-bottom: 8px;
}

.hero-2 .Overview .text .t_4{
  padding: 20px 0px 20px 0px;
border-top: 1px solid grey;
}
.t_4 h4{
  color:#ffffff;
}
.t_4 h5{
  color:#ffffff;
  padding-top: 3px;
  font-weight: 420;
  padding-bottom: 8px;
}

.hero-2 .Overview .text .btn{
  padding: 25px 0px 25px 0px;
  display: flex;
  flex-direction: row;
  gap:10px;
border-top: 1px solid grey;
}
.hero-2 .Overview .text .btn a{
  width: 50%;
  background-color:;
}
.hero-2 .Overview .text .btn a button{
  width:100%;
  background-color:#ff6500;
  border:none;
  padding:9px 10px;
  border-radius: 5px;
}

.hero-2 .Jobs{
  background-color: #202020;
  margin-top: 15px;
  padding:20px 15px;
  border-radius: 7px;
}

.Jobs h5{
  color:#ffffff;
  text-align: center;
  font-size: 17px;
}
.Jobs p{
  color:#aaaaaa;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
.hero-2 .Review {
  background-color: #212121;
  margin-top: 15px;
  padding:20px 15px;
  border-radius: 7px;
  text-align: center;
/* border:1px solid rgba(255,255,255,0.4);*/
/*  box-shadow:0px 0px 17px rgba(255,255,255,0.4);*/
}
.Review h5{
  color: #ffffff;
  font-size: 15px;
}
.Review p{
  font-size: 12px;
  padding-top: 10px;
  padding-bottom:10px;
  color: #aaaaaa;
}
.Review a{
  width: 100%;
}
.Review a button{
  background-color: #ff6500;
  width: 100%;
  padding: 10px 10px;
  border:none;
  border-radius: 5px;
}



 /*.box also defined max-width:500px; in float css in pc mode
 */



h1,h2,h3 {
  color:;
  background-color:;
  padding: 0;
  margin: 0px;
  margin-top: 0px;
  margin-bottom:0px;
}

h2{
   font-weight:;
   font-size: 10px;
}

h1{
  font-family: 'DM Serif Display', serif;font-weight:200;
}

p {}

/* form */




    
 

 form .name {
	display:flex;
	gap:10px;
}

form input[type="email"].email {
	width: 100%;
}

form button{
background-color: #ff6500;
  width: 100%;
  padding: 8px 10px;
  border:none;
  border-radius: 5px;
  margin-top: 20px;
}

 form textarea.message {
	height: 80px;
	width: 100%;
	padding-top: 5px;
	resize: vertical;
	max-height: 400px;
	min-height: 80px;
}

input[type="text"],input[type="email"],input[type="tel"], textarea {
	width:100%;
	height:40px;
	border-radius: 8px;
	border: 2px solid #ffffff;
	/* border-bottom: 3px solid var(--text-color-gray); */
	transition: border 0.3s;
	font-size:12px;
	padding-left: 10px;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,textarea:focus {
	border: 2px solid white;
	
}



 #glass{
/*background-color: rgba(255,255,255,0.3);*/
border:1px solid rgba(255,255,255,0.2);
background-color: #212121;
  border-radius:5px;
  padding:20px;
   margin:20px;
   max-width:500px;
  justify-self: center;
   display:flex;
	flex-direction: column;
	gap: 10px;
	
  /*backdrop-filter:blur(10px);*/
}
#glass #text{
  
}
#glass #text h2{
  color:#ffffff;
  font-size: 15px;
}
#glass #text p{
  color:#aaaaaa;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 15px;
}


.glass{}
.glass h2{
  text-align:;
  color: white;
  margin-top:;
  font-size:;
}





/* review testimony ⭐⭐⭐ */





.footer{
  background-color:#0c0c0c;
  width:100%;
  color:#ffffff;
  text-align:center;
  margin-top:40px;
  padding:10px 25px;
}

.footer #copyright p{
  color:#aaaaaa;
  font-size: 8.5px;
  padding-top:10px;
}

.footer-icon{
  display:flex;
  justify-content:space-between;
  max-width:800px;
  margin:0 auto;
}

  /* card of course-page */
.card {
  background-color:#ffffff;
  border:1px solid rgba(255,255,255,0.3);
  border-radius:6px;
  box-shadow:0 4px 30px rgba(0,0,0,0.2);
  padding:20px 25px;
  margin:5px;
  max-width:500px;
}

.card-h1{
  text-align:center;
}





/*readmore para class*/








/*Preloader*/

/*experiment*/
/*preloader css*/

/*Experiment*/

/*Experiment*/


/* for responsive mobile view */

@media (max-width: 900px) {
	.elements {
		flex-direction:column;
  background-color:rgba(255,255,255,0.2);
		align-items:center;
		position:fixed;
    justify-content:space-evenly;
		margin-left:0px;
		padding: 10px 20px;
		width:50%;
		height:70%;
	transform: translateX(-120%);
    overflow:;
    top:0;
    left:0;
    Border-radius:10px;
    z-index:1;
    gap:29px;
   -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
	}  
  
.navl:hover{
  color:#fffacc;
  font-size:21px;
  transition:0.3s;
}

.navl{
font-size:20px;
}
  
a{
  text-decoration:none;
  color:;
}

a button{
  color:#212121;
  font-weight:450;
}

.navbar{
  display:flex;
  gap:0;
  height:60px;
}


.hero-main p{
  padding-right:;
}
  
.burgerDiv {
		display:flex;
    position:fixed;
    z-index:9;
    /**top:25px;**/
    left:87%;
	}
.logo{
   margin-top:;
  /*margin-left:52px;*/
  color:;
  /**top:-5px;**/
  width:45%;
}
  
p{
  font-size:1.1rem;
}

.glass{
  margin-top:0px;
}
.shape{
  margin-top:65px;
}
.icon-div-contact-us{
  padding-left:10px;
}
.icon-div-contact-us h4{
  font-size:20px;
}
.form-home{
  margin:0px 20px;
}
  
}
   /*end of meadi query*/


.sidebar {
	transform: translate(0px);
}

.line-0 {
	transform: rotate(45deg) translate(4.5px, 12px);
}

.line-1 {
	transform: scale(0);
}

.line-2 {
	transform: rotate(-45deg) translateY(-7.5px);
}

/**anchor blue remove**/
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
